body {
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 60px;
}

.field {
    margin: 0 auto;
    width: 600px;
    height: 600px;
    display: flex;
    background-color: rgb(210, 205, 205);
    flex-wrap: wrap;
}

.elements {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 3px solid black;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 60px;
    padding-top: 50px;
}